* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ccc;
}



/* contenedor padre */

.container__main {
    display: flex;
    flex-direction: row;
}









/* barra de navegacion */
.nav {
    width: 20%;
    height: 100vh;
    background: #fff;
    margin: 0;
    padding: 0;
    border-radius: 0 16px 16px 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav__link {
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 20px;
}

.nav__link--inside:hover {
    background: #f6f8fa;
}


.list {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}


.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;

}


.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.list__inside {
    display: flex;
    text-align: center;
    gap: 1em;
    width: 90%;
    margin-left: auto;
}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}





.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}



/* area de contenido */

.shop {
    width: 80%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-left: 20%;


}

.card {
    width: 400px;
    height: 500px;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #867a7a;

}

.card__img {
    width: 100%;
    height: auto;
    border-radius: 16%;
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;

}

.card__text p {
    text-align: right;
    margin-top: 10px;
}